/* 
#D08FD9 violeta clarito
#812B8C violeta oscuro
#384026 negro
#FAEEFF blanco
*/

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*reset{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

/* tamaño de texto para todas las paginas*/
html {
    font-size: 62.5%;
    /* 1rem = 10px */
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* header para todas las pags */
header{
    background-color: #D08FD9;
}
/* titulos para todas las pags*/
h1 {
    color: #384026;
    font-size:10rem;
    text-align: center;
    justify-content: center;
    background-color: #D08FD9;
    width: 100%;
    height: 17rem;
    margin: 0%;
    padding: 0%;
}

/* imagen logo para todas las pags*/
header nav a img {
    width: 15rem;
    margin-left: 0.5rem;
    padding-top: 0rem;  
    position:absolute;
        top: 2rem;
        left: 1.5rem;
}

/* botones de redireccion por debajo del titulo*/
.nav-link{
    color: #F0F0F2;
    background-color: #812B8C;
    list-style-type: none;
    font-size: 2rem;
    margin-left: 0.2rem;
    margin-right:0.2rem ;
    border-style: solid;
}

/* imagenes del index */
.imagenes-agenda{
    display: flex;
    flex-direction: row;
    gap: 0rem;
}

.imagenes-index{
    width: 40rem;
    height: 40rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/* imagenes carrusel */
.img-carrusel{
    width: 40rem;
    height: 40rem;
}

/* textos de la pagina gral.*/
p{
    font-size: 2.2rem;
    text-align: justify;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

/* tamaño copyright */
.texto-copyright{
    font-size: 1.2rem;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


/* footer para todas las pags*/
footer{
    font-size: 1.2rem;
    color: #384026;
    background-color: none;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* subtitulos de pags */
h2{
    color: #384026;
    font-size:4.6rem;
    text-align: center;
}

/* sobre nosotros lista desordenada y faqs lista desordenada*/
main div ul li{
    list-style-type: none;
    font-size: 2.2rem;
    text-align: justify;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #FAEEFF;
}

/* crea tu agenda lista ordenada */
main div ol{
    
    font-size: 2.2rem;
    text-align: justify;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

/* crea tu agenda formulario */
main div form label{
    font-size: 2.2rem;
    display: block;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.ctaform{
    font-size: 2.2rem;
    text-align: left;
}

.flexcta{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.carruselgrid{
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 3fr;
    column-gap: 5rem;
    row-gap: 5rem;
}

/* contacto formulario */
#contactoform{
    font-size: 2.2rem;
    text-align: center;
    display: block;
    border-style: outset;
    margin-left: 41%;
    margin-right: 33%;
    height:30rem;
    width: 23rem;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}
main div form input{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.submitbutton{
    color: #F0F0F2;
    background-color: #812B8C;
    list-style-type: none;
    font-size: 1.4rem;
    text-decoration: none;
    text-align:center;
    display: inline;
    width: 10rem;
    height: 3.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.9rem;
}

/* mobile */
@media screen and (min-width:320px) and (max-width:767px) {
    h1{
        font-size: 5rem;
        padding-top: 5rem;
        padding-bottom: 2rem;
    }
    header nav a img{
        width: 5rem;
    }
    .botonvioleta{
        font-size: 2rem;
    }
    #contactoform{
        font-size: 2.2rem;
        justify-content: center;
        justify-self: center;
        justify-items: center;
        height:35.6rem;
        width: 18rem;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 8rem;
    }
    main div form label{
        font-size: 1.6rem;
    }
    main div form input{
        font-size: 1rem;
    }
    .submitbutton{
        font-size: 1.6rem;
        width: 7.5rem;
        height: 3.5rem;
        margin-top: 0.8rem;
    }
    main div ul li{
        font-size: 1.8rem;
        text-align: justify;
    }
    p{
        font-size: 1.2rem;
        margin-left: 15%;
        margin-right: 15%;
    }
    article p{
        font-size: 1.9rem;
        display: flex;
        flex-wrap: wrap;
        width: 75%;
    }
    footer{
        font-size: 0.8rem;
        padding-top: 5rem;
        padding-bottom: 0.5rem;
    }
}

/* tablet */
@media screen and (min-width:768px) and (max-width:1023px) {
    h1{
        font-size: 7.5rem;
        padding-top: 5rem;
        padding-bottom: 2rem;
    }
    header nav a img{
        width: 12rem;
        margin-top: 4rem;
    }
    .botonvioleta{
        font-size: 2.6rem;
    }
    #contactoform{
        font-size: 2.2rem;
        justify-content: center;
        justify-self: center;
        justify-items: center;
        height:38rem;
        width: 22rem;
        margin-left: 40%;
        margin-right: 60%;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
    main div form label{
        font-size: 2rem;
    }
    main div form input{
        font-size: 1.2rem;
    }
    .submitbutton{
        font-size: 1.6rem;
        width: 7.5rem;
        height: 3.5rem;
        margin-top: 0.8rem;
    }
    main div ul li{
        font-size: 3.2rem;
        text-align: justify;
        justify-content: center;
        margin-left: 15%;
        margin-right: 15%;
    }
    p{
        font-size: 2.2rem;
        margin-left: 15%;
        margin-right: 15%;
    }
    article p{
        font-size: 2.6rem;
        display: flex;
        flex-wrap: wrap;
        width: 75%;
    }
}

/* desktop */
@media screen and (min-width:1024px){
    .botonvioleta{
        font-size: 2.5rem;
        margin-left: 0.2rem;
        margin-right:0.2rem ;
    }
    
    #contactoform{
        font-size: 2.2rem;
        text-align: center;
        display: block;
        border-style: outset;
        margin-left: 41%;
        margin-right: 33%;
        height:44rem;
        width: 24rem;
        padding-top: 2rem;
        padding-bottom: 0.5rem;
    }
    main div form input{
        font-size: 1.8rem;
    }
    .submitbutton{
        list-style-type: none;
        font-size: 1.4rem;
        display: inline;
        width: 10rem;
        height: 3.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.6rem;
    }
}