footer{
    font-size: 1.2rem;
    color: $negro;
    background-color: none;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    .texto-copyright{
        font-size: 1.2rem;
        text-align: center;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}